<div class="container-xxl">
  <a class="anchor" id="categories"></a>
  <div class="row row-cols-3 row-cols-md-6 row-cols-lg-6 g-4">
    <% food_tags.each do |food_tag| %>
      <div class="col">
        <h3 class="text-center"><%= food_tag.name %></h3>
        <div class="card">
          <a href="/restaurants/food_tag/<%= food_tag.id %>">
          <% if food_tag.photo.representable? %>
            <%#= link_to image_tag(restaurants_food_tag_path), food_tag.photo.representation(resize_to_limit: [500, 500]), class: "card-img" %>
            <%= image_tag(food_tag.photo.representation(resize_to_limit: [500, 500]), class: "card-img-top card-foodtag") %>
          <% end %>
          </a>
        </div>
      </div>
    <% end %>
  </div>
</div>