<div class="container-fluid">
  <div class="container-fluid h-130">
    <h1 class="d-none">LetsMIAM</h1>
    <%= image_tag("logo.png", width: 400, class: "mx-auto d-block pt-5px") %>
  </div>

  <%= render 'layouts/navbar', actual_page: 4 %>

  <%= render 'restaurants/selections',  restaurants: @restaurants %>
</div>

<%= javascript_pack_tag 'restaurant_index.js' %>
