// Place all the styles related to the Homepage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.homepage-link{
  text-decoration: none;
  color: #7db264;
}

.homepage-link:hover{
  text-decoration: none;
  color: #448431;
}