<div class="mt-5 container-fluid bg-dark bg-gradient">
  <div class="text-white container-xxl">
    <div class="row row-cols-1 row-cols-md-2">
      <div class="col mt-3">
        <h5 class="text-center">LetsMIAM</h5>
        <p>Description de l'entreprise en quelques mots</p>
      </div>
      <div class="col mt-3">
        <h5 class="text-center">A propos</h5>
        <p class="text-center">Conditions générales</p>
        <p class="text-center">Contact</p>
        <p class="text-center">Livraisons</p>
      </div>
    </div>
    <p class="mb-0 text-center">@ Copyright 2021 : LetsMiam.com</p>
  </div>
</div>